/* опишем базовый стиль кнопки калькулятора */
.my-btn {
  margin-right: 5px;                     /* задаем отступ от кнопки справа */
  margin-top: 5px;                       /* задаем отступ от кнопки сверху*/
  width: 60px;                           /* задаем ширину кнопки */
  height: 60px;                          /* задаем высоту кнопки */
  border-radius: 50%;                    /* округляем кнопку */
  border: none;                          /* отключаем обводку */
  background: linear-gradient(rgb(111, 207, 151) 0px, rgb(39, 174, 96) 100%);  /* задаем зеленый градиент для кнопки */
  color: rgb(255, 255, 255);           /* задаем белый цвет текста внутри кнопки */
  font-size: 28px;                       /* задаем размер шрифта */
  font-family: "Open Sans", sans-serif;  /* задаем шрифт */
  cursor: pointer;                       /* при наведении на кнопку курсор будет изменен
                                         со стрелки на 'указательный палец' */
  user-select: none;                     /* отключаем возможность выделить текст внутри кнопки */
  transition: all .3s                    /* добавляем плавность анимаций */
}

/* hover - это состояние элемента, когда на него наведен курсор */
.my-btn:hover {
  box-shadow: 0 6px 12px rgba(33,150,83,.45),0 0 0 rgba(0,0,0,.25) inset  /* задаем тень */
}

/* active - это состояние активации элемента. В случае кнопки - нажатие на нее */
.my-btn:active {
  box-shadow: 0 0 0 rgba(0,0,0,.2),0 2px 2px rgba(0,0,0,.25) inset  /* добавляем эффект вдавленной кнопки */
}

/* селектор для кнопок первостепенных операций */
.my-btn.primary {
  background: rgb(39, 174, 96)  /* цвет кнопки зеленый */
}

/* селектор для кнопок второстепенных операций */
.my-btn.secondary {
  background: rgb(51, 51, 51)  /* цвет кнопки темно-серый */
}

/* селектор для кнопки расчета выражения (=) */
.my-btn.execute {
  width: 128px;  /* сделаем кнопку шире других */
  border-radius: 24px;  /* подкорректируем радиус скругления */
}

/* селектор для поля вывода результата */
.result {
  height: 60px;
  width: 258px;
  margin-bottom: 10px;            /* отступ снизу */
  padding-right: 10px;            /* выступ справа */
  background: rgb(51, 51, 51);  /* задаем темно-серый цвет */
  border-radius: 24px;
  display: flex;                  /* включаем режим Flexbox */
  align-items: center;            /* центрируем по вертикали */
  justify-content: flex-end;      /* прижимаем к правому краю */
  color: rgb(255, 255, 255);
  font-size: 28px;
  font-family: "Open Sans", sans-serif
}

.calculator {
  width: fit-content;                   /* устанавливаем ширину блока по содержимому */
  margin: 0 auto;                       /* автоматические отступы слева и справа для центрирования по горизонтали */
  border: 1px solid rgb(51, 51, 51);  /* темно-серая рамка */
  padding: 30px;                        /* выступ от кнопок */
  border-radius: 24px;
}

/* стиль для ссылки-кнопки GitHub */
a.my-btn {
  display: inline-flex;     /* делаем флекс-контейнером, чтобы работало центрирование */
  align-items: center;      /* центрируем текст по вертикали */
  justify-content: center;  /* центрируем текст по горизонтали */
  text-decoration: none;    /* yбираем стандартное подчеркивание ссылки */
  width: 265px;
  border-radius: 24px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.header {
  color: rgb(0, 0, 0);  /* черный цвет текста */
  text-align: center;     /* выравнивание по центру */
  margin-bottom: 20px;    /* отступ снизу */
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
}

.highlight {
  background: rgb(39, 174, 96);  /* зеленый цвет выделения текста */
}
